<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.osher.gil.minivmac"
    android:versionCode="30"
    android:versionName="1.2.0" >
    
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="name.osher.gil.minivmac.MiniVMac"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="fullSensor"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="name.osher.gil.minivmac.CreateDisk">
        </activity>
    </application>

</manifest>